body {
  margin: 0;
}

.strip {
  background-color: black;
  height: 65px;
}
.logo2 {
  height: 39px;
  display: block;
  width: auto;
  margin-left: 120px;
  padding-top: 10px;
}

.background {
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-repeat: none;
  background-size: cover;
}

.globe i {
  background-color: #fff;
}
.form-main {
  background: url("https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_1206,h_633/v1658225144/assets/30/7d0851-aad0-4583-a029-f339b38a1a9f/original/SSU_hero_2.png");
  background-repeat: no-repeat;
  background-size: 100%;
 
}
.form {
  padding: 30px 0px 30px 20px;
  border-style: solid;
  margin: 0px 50px 500px 500px;
  background-color: white;
  width: 400px;
}

.form-div {
  margin-top: 0px;
  
}

.country-code {
  width: 70px;
}

.opt {
  color: #000;
}

.rest {
  display: flex;
  width: auto;
}
