body {
  background-image: url("./images/top-view-indian-food-frame-with-copy-space.jpg");
  background-size: 100%;
  margin: 0;
  background-repeat: no-repeat;
}
.click1 {
  width: auto;

  /* float: right; */
  padding: 17px 16px;
  border-radius: 500px;
  color: white;
  background-color: #000;
  border-style: none;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
}
.click1:hover {
  background-color: rgb(36, 36, 36);
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 10px 30px;
}

.click2 {
  margin-right: 15px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  width: auto;
  border-style: none;
  padding: 17px 16px;
  border-radius: 500px;
}

.click2:hover {
  background-color: rgb(202, 197, 197);
  cursor: pointer;
}

.hamburger {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 25px;
  padding-right: 10px;
  margin-bottom: 30px;
}
.hamburger object {
  margin-top: 7px;
}
.hamburger i:hover {
  cursor: pointer;
}

.hamburger object:hover {
  cursor: pointer;
}

.hamburger i {
  height: 20px;
  font-weight: 600;
  margin: -5px 30px;
  width: 25px;
}
.fa-user {
  padding-right: 5px;
}

h1 {
  padding-top: 160px;
  padding-left: 50px;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 52px;
  color: rgb(223, 221, 221);
}

.container {
  display: inline;
  margin-top: 45px;
  width: 100%;
  padding: 0px 50px;
}

.input-address {
  align-items: center;
  background-color: #fff;
  padding: 20px 20px;
}
.input-address a {
  color: #000;
}
.input-address i {
  font-size: 20px;
  margin-right: 5px;
}
.input-address i:hover {
  cursor: pointer;
}

.address {
  outline: none;
  border: none;
  height: 45px;
  width: 475px;
  margin-left: 0px;
  font-size: 15px;
  font-weight: 500;
}
.selector {
  margin-left: 8px;
  background-color: #fff;
  width: 100%;
  padding: 20px 10px;
  overflow: hidden;
}
.deliver {
  outline: none;
  border: none;

  font-size: 16px;
  font-weight: lighter;
}

.food {
  margin-left: 8px;
  background-color: #000;
  width: auto;
  padding: 18px 10px;
  border-radius: 8px;
  outline: none;
  border: none;
  /* background-color: #000; */
  color: #fff;
  font-size: 20px;
  font-weight: lighter;
}
.food:hover {
  background-color: rgb(36, 36, 36);
  cursor: pointer;
}
#now {
  background-color: #fff;
  width: 100%;
  padding: 20px 10px;
}
#later {
  background-color: #fff;
  width: 100%;
  padding: 20px 10px;
}

.line {
  margin-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: lighter;
  color: #fff;
}
.line a {
  color: #fff;
}

.sign-in {
  text-decoration: underline;
}
.sign-in:hover {
  cursor: pointer;
}

.images {
  margin-top: 450px;
  display: flex;
  flex-direction: row;
  /* width: 100%; */

  padding: 0px 0px 0px 40px;
  /* justify-content: space-between; */
}

.first {
  height: 270px;
  width: 460px;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  /* padding: 10px 10px 40px 40px; */
}
.second {
  height: 270px;
  width: 460px;
  margin: 0px 10px;

  /* margin-left: 500px; */
  /* padding: 10px 0px 40px 20px; */
}
.third {
  height: 270px;
  width: 460px;
  margin: 0px 10px;

  /* margin-left: 1000px; */
  /* padding: 10px 0px 40px 20px; */
  /* margin-right: 0px; */
}

.img {
  width: 100%;
}

.card-head {
  padding: 10px 0px 0px 0px;
  text-align: start;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #000;
  margin: 0px;
}
.card-foot {
  margin-top: 8px;
  font-size: 16px;
  color: #000;
  text-decoration: underline;
  font-family: sans-serif;
  font-weight: normal;
}
